.todo-container {
  background-color: #F5F5F5; /* Lighter background */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-section {
  background-color: #1976d2;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #fff;
}

button {
  background-color: #fff;
  color: #1976d2;
  border: 2px solid #1976d2;
}

li {
  background-color: #fff;
  border: 1px solid #ccc;
}

.trash-icon {
  background-color: #FF5252; /* Red for delete */
}